@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


body{
    background: #091a2f;
    font-family: "Poppins";
    
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #091a2f;
    font-family: "Poppins", sans-serif;
    padding: 3rem 3rem;
    font-size: 13px;
    font-weight:normal;
    transition: all 0.5s;
}

.nav-links {
 
    display: flex;
    justify-content: space-between;
    width: 35rem;
    margin-left:  px;
    
}

.nav-links li a span{
    color: #64ffda;
    font-family: "Roboto Mono";
}

.nav-links li:last-child a{
    color: #64ffda;
    font-size: 13px;
}

.nav-links li {
    list-style: none;
    
}

.nav-links a {
    color: #ccd6f6;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: regular;
    font-size: 13px;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #64ffda;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #ccd6f6;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Borrar desupes (reemplazar por logo)*/

.logo h1{
    color: white;
    
}

/* Home */



.home{
    overflow: hidden;
}

.home_container{
    display:flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

.home_data{
    height: 75%;
    width: 75%;
    margin: auto;
    text-align: left ;
    line-height: 1.4;
    padding-top: 8%;
    padding-left: 10%;
}



.home_data .home_greeting{
    font-size: 1rem;
    font-weight: regular;
    color: #64ffda;
    padding-bottom: 1px;
    
 }
 
 .home_data .home_name{
     font-size: 4rem;
     font-weight: bold;
     color: #ccd6f6;
     margin-top: 10px;
     text-align: start;
  
 }
 
 .home_data .home_profession{
     font-size: 4rem;
     font-weight: bold;
     color: #8792b0;
    
 }
 
 .home_data .home_description{
     font-size: 1rem;
     font-weight: regular;
     color: #8792b0;
     width: 30vw;
     margin-top: 15px;
     line-height: 1.6;
 }

 .home_data .home_button {
     margin-top: 40px;
     padding: 1rem 2rem;
     
 }

.inline-block{
    display: inline-block;
    
}



/* Button */
.button {
    background-color: transparent;
    border: 1px solid #64ffda; 
    padding: 0.5rem 2rem;
    border-radius: 5px;
    transition: background-color 0.35s ease-in !important;
    color: #64ffda;
}


.button:hover{
  background-color: rgba(21, 247, 156, 0.4);
}

.smaller-button{
    padding: 10px;
}



/* Left side */

.left-side{
    width: 80px;
    height: 100vh;
    position: fixed;
    
}

.left-side .left-content{
    display: flex;
    flex-direction: column;
    position: inherit;
    bottom: 0;
    width: 80px;
        
}

.left-side .left-content *{
    margin-left: 80px;
}


.line{
    width: 1px;
    height: 100px;
    background: #8792b0;
}

.left-side .left-content .icons{
    color: #8792b0;
    margin-left: -90px;
    margin-bottom: 20px;
    cursor: pointer;
}

.left-side .left-content .icons .icon1{
    margin-bottom: 5px;
    
}

.icon1, .icon2{
    transition: all 0.3s;
    font-size: 25px;
}

.right-side{
    width: 80px;
    height: 100vh;
    position: fixed;
    right: 0;
    color: #8792b0;
}

.right-side .right-content{
    display: flex;
    flex-direction: column;
    position: inherit;
    
    bottom: 0;
    width: 80px;
}

.right-side .right-content .mail{
    writing-mode: vertical-lr;
    margin-bottom: 30px;
    font-family: "Roboto Mono";
    font-size: 13px;
    transition: all 0.3s;
    margin-left: -7px;
}





.mail:hover, .icon1:hover, .icon2:hover{
    cursor: pointer;
    color:#64ffda;
    transform: translateY(-3px);
}

















@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
     
    
        
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh;
        top: 0;/*top: 8vh;*/
        background-color: #112240;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding: 200px 0;
        margin-right: 0;
      
        
    }
    
    .nav-links li {
        opacity: 0;
        
        
       
    }
    
    .burger {
        display: block;
        cursor: pointer;
      
    }

    .left-side, .right-side{display: none;}
    
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}
